.App {
    margin: 0;
    position: relative;
    height: 100vh;
}

img{
    top: 10vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 100%;
    max-height: 90vh;
}

body {
    margin: 0;
    position: relative;
    height: 100vh;
}

.InfoModal{
    width: 30%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Order {
    height: 100vh;
    position: absolute;
}
